body{
    background-color:lightgrey !important;
    font-family: sans-serif !important;
}

.container-fluid{
    width: 90% !important;
    background-color: white !important;
    padding-top:40px;
    padding-left:80px !important;
    
  }

  img{
      width:110px;
      height:50px;
  }

  p {
    color: red;
  }

  